{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row"> 
      <div class="col">
        <img src="static/images/marjors-suite.png" class="img-fluid img-thumbnail rounded mx-auto d-block room-image" alt="...">
      </div>
    </div>
     
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Book a Basic Room Now</h1>
            <p>
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
              We sell custom made designs and artwork from independent artists all over india.
            </p>
        </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <!-- button to submit a form-->
       <!-- <button type="button" class="btn btn-success">Make Reservations Now</button> --> 
  
        <!-- button with a link -->
        <a href="/make-reservation-ms" class="btn btn-success">Check Availaibility</a>
      </div>
    </div>
  </div>
  

{{end}}